/** SPACE INVADERS **/

@font-face {
    font-family: 'DotsAllForNow';
    src: url('../fonts/DotsAllForNow.ttf');
}

#principal {
    width: 100%;
    height: 97vh;
}

body {
    margin: 0px;
    background-color: black;
}